# Synthesis
synthesis/*
## Surelog
*.log
*.lst
*.uhdm
work
## yosys
*.vqm

# Simulation
simulation/*
*.cf
*.o

# Misc
## scripts and hdlmake config files
!*.py
## Quartus backup files
*.bak
## hdlmake generated Makefiles
Makefile
.vscode
__pycache__
